version: "3.9"

services:
  db:
    image: postgres:12-bullseye
    container_name: postgres_db
    environment:
      POSTGRES_USER: storage_admin # Задать пользователя
      POSTGRES_PASSWORD: THw7l0bxvPPkWUhP # Задать пароль
      POSTGRES_DB: strg_users_db # Задать имя БД
    ports:
      - "5435:5432" # Открыть порт для внешнего доступа
    volumes:
      - ./docker-data/postgres:/var/lib/postgresql/data
      - ./db_init/init.sql:/docker-entrypoint-initdb.d/init.sql # Путь к папке с SQL-скриптами
    networks:
      - app_network
    deploy:
      resources:
        limits:
          cpus: '0.3'
          memory: 512MB
      restart_policy:
        condition: on-failure
        max_attempts: 3
        delay: 5s
        window: 20s

  app:
    build:
      context: . # Путь к папке с кодом приложения
      dockerfile: Dockerfile
    container_name: python_app
    volumes:
      - ./logs:/app/logs
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://storage_admin:THw7l0bxvPPkWUhP@db:5432/strg_users_db
    ports:
      - "8000:8000" # Открыть порт для FastAPI или другого веб-сервиса
    networks:
      - app_network
    deploy:
      resources:
        limits:
          cpus: '0.3'
          memory: 512MB
      restart_policy:
        condition: on-failure
        max_attempts: 3
        delay: 5s
        window: 20s

volumes:
  postgres_data:


networks:
  app_network:
    driver: bridge
