<!-- pending_approval.html -->
{% extends "layout.html" %}

{% block title %}Approvals{% endblock %}

{% block content %}
<h2>Approvment of Products</h2>

<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="product-approval-table">
    </tbody>
</table>

<script src="/static/js/approval.js"></script>
{% endblock %}