{% extends "layout.html" %}

{% block title %}Products{% endblock %}


{% block content %}
<h2 class="text-center my-4">Products</h2>

 <div class="text-end mb-3">
    <button id="add-new-product-btn" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addProductModal">
        Add New Product
    </button>
</div>

<div class="input-group mb-4">
    <input type="text" class="form-control" id="search-name" placeholder="Enter product name">
    <button class="btn btn-outline-secondary" onclick="searchProduct()">Find</button>
</div>

<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Add New Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="generalErrorMessage" class="alert alert-danger" style="display: none;"></div>

                <form id="add-product-form">
                    <div class="mb-3">
                        <label for="add-name" class="form-label">Name of product</label>
                        <input type="text" class="form-control" id="add-name" placeholder="Enter product name" required>
                        <small id="nameError" class="text-danger" style="display: none;">
                            Name of product is required, 3 to 100 characters, only letters and numbers.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="add-description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="add-description" placeholder="Enter description">
                        <small id="descriptionError" class="text-danger" style="display: none;">
                            Description should be less than 500 characters.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="add-category" class="form-label">Category</label>
                        <input type="text" class="form-control" id="add-category" placeholder="Enter category">
                        <small id="categoryError" class="text-danger" style="display: none;">
                            Category should be up to 50 characters, only letters and numbers.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="add-price" class="form-label">Price (eur)</label>
                        <input type="number" class="form-control" id="add-price" step="0.01" placeholder="Enter price for 1 item" required>
                        <small id="priceError" class="text-danger" style="display: none;">
                            Price is required, positive number with two decimal places, maximum 10 digits.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="add-stock-quantity" class="form-label">Quantity of product</label>
                        <input type="number" class="form-control" id="add-stock-quantity" placeholder="Enter quantity" required>
                        <small id="stockQuantityError" class="text-danger" style="display: none;">
                            Quantity must be a positive integer, at least 0.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="add-supplier-id" class="form-label">Supplier</label>
                        <select class="form-control" id="add-supplier-id" required></select>
                        <small id="supplierError" class="text-danger" style="display: none;">
                            Need to select a supplier with a valid UUID.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="add-image-url" class="form-label">Product Image</label>
                        <input type="file" class="form-control" id="add-image-url" accept=".png, .jpeg, .jpg">
                        <small id="imageError" class="text-danger" style="display: none;">
                            Format of image should be .png, .jpeg or .jpg.
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="add-weight" class="form-label">Weight of product (kg)</label>
                        <input type="number" class="form-control" id="add-weight" step="0.01" placeholder="Enter weight of product">
                        <small id="weightError" class="text-danger" style="display: none;">
                            Weight should be a positive number, maximum 6 digits (including 2 decimal places).
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="add-dimensions" class="form-label">Dimensions of product (1x1x1 meters)</label>
                        <input type="text" class="form-control" id="add-dimensions" placeholder="Enter dimensions in format 1x1x1">
                        <small id="dimensionsError" class="text-danger" style="display: none;">
                            Dimensions should be up to 100 characters and allow only numbers and the symbol "x".
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="add-manufacturer" class="form-label">Manufacturer</label>
                        <input type="text" class="form-control" id="add-manufacturer" placeholder="Enter manufacturer">
                        <small id="manufacturerError" class="text-danger" style="display: none;">
                            Manufacturer can contain only letters and numbers, maximum 100 characters.
                        </small>
                    </div>

                    <button type="submit" class="btn btn-primary">Create Product</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel">Edit Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit-product-form">
                    <input type="hidden" id="edit-product-id">
                    <div class="mb-3">
                        <label for="edit-name" class="form-label">Name of product</label>
                        <input type="text" class="form-control" id="edit-name" placeholder="Enter product name" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit-description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="edit-description" placeholder="Enter description" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit-category" class="form-label">Category</label>
                        <input type="text" class="form-control" id="edit-category" placeholder="Enter category">
                    </div>
                    <div class="mb-3">
                        <label for="edit-price" class="form-label">Price (eur)</label>
                        <input type="number" class="form-control" id="edit-price" step="0.01" placeholder="Enter price for 1 item">
                    </div>
                    <div class="mb-3">
                        <label for="edit-stock-quantity" class="form-label">Quantity of product</label>
                        <input type="number" class="form-control" id="edit-stock-quantity" placeholder="Enter quantity">
                    </div>
                    <div class="mb-3">
                        <label for="edit-supplier-id" class="form-label">Supplier</label>
                        <select class="form-control" id="edit-supplier-id" required>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="edit-image-url" class="form-label">Product Image</label>
                        <input type="file" class="form-control" id="edit-image-url" accept=".png, .jpeg, .jpg">
                    </div>
                    <div class="mb-3">
                        <label for="edit-weight" class="form-label">Weight of product (kg)</label>
                        <input type="number" class="form-control" id="edit-weight" step="0.01" placeholder="Enter weight of product">
                    </div>
                    <div class="mb-3">
                        <label for="edit-dimensions" class="form-label">Dimensions of product (1x1x1 meters)</label>
                        <input type="text" class="form-control" id="edit-dimensions" placeholder="Enter dimensions in format 1x1x1">
                    </div>
                    <div class="mb-3">
                        <label for="edit-manufacturer" class="form-label">Manufacturer</label>
                        <input type="text" class="form-control" id="edit-manufacturer" placeholder="Enter manufacturer">
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-body">
        <h5 class="card-title mb-3">List of Products</h5>
        <table class="table align-middle" id="products-table">
            <thead class="table-light">
                <tr>
                    <th scope="col">ID</th> 
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script src="/static/js/products.js"></script>
{% endblock %}