{% extends "layout.html" %}

{% block title %}Warehouse info {% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h2 class="h4 mb-0">Warehouse</h2>
        </div>
        <input type="hidden" id="warehouse-id" value="{{ warehouse.warehouse_id }}">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-6">
                    <strong>Manager:</strong>
                </div>
                <div class="col-6" id="warehouse-manager-name">
                    Not assigned
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <strong>Capacity:</strong>
                </div>
                <div class="col-6" id="warehouse-capacity">
                    -
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <strong>Current stock:</strong>
                </div>
                <div class="col-6" id="warehouse-current-stock">
                    -
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <strong>Phone number:</strong>
                </div>
                <div class="col-6" id="warehouse-contact-number">
                    Not provided
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <strong>Email:</strong>
                </div>
                <div class="col-6" id="warehouse-email">
                    Not provided
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <strong>Status:</strong>
                </div>
                <div class="col-6" id="warehouse-is-active">
                    Inactive
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <strong>Area size:</strong>
                </div>
                <div class="col-6" id="warehouse-area-size">
                    Not provided
                </div>
            </div>
        </div>
    </div>


    <button class="btn btn-primary mt-5" onclick="openAddProductModal()">Add product</button>

    <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add-product-form">
                        <div class="mb-3">
                            <label for="product-id" class="form-label">ID product</label>
                            <input type="text" class="form-control" id="product-id" required>
                        </div>
                        <div class="mb-3">
                            <label for="product-quantity" class="form-label">Quantity of product</label>
                            <input type="number" class="form-control" id="product-quantity" min="1" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button> 
                    </form>
                </div>
            </div>
        </div>
    </div>

    <h3 class="mt-5">Products in warehouse</h3>
    <table class="table table-striped" id="products-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name of product</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <nav>
        <ul class="pagination" id="pagination"></ul>
    </nav>
</div>

<script src="/static/js/product_in_warehouse.js"></script>
{% endblock %}