{% extends "layout.html" %}

{% block title %}Supplier Management{% endblock %}

{% block content %}
<h2 class="text-center my-4">Supplier Management</h2>

<div class="text-end mb-3">
    <button id="add-new-supplier-btn" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addSupplierModal">
        Add new supplier
    </button>
</div>

<div class="input-group mb-4">
    <input type="text" class="form-control" id="search-name" placeholder="Enter supplier name">
    <button class="btn btn-outline-secondary" onclick="searchSupplier()">Find</button>
</div>

<div class="modal fade" id="addSupplierModal" tabindex="-1" aria-labelledby="addSupplierModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSupplierModalLabel">Create Supplier</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add-supplier-form">
                    <div class="mb-3">
                        <label for="add-name" class="form-label">Name of Supplier</label>
                        <input type="text" class="form-control" id="add-name" required minlength="3" maxlength="100" placeholder="Enter supplier name" required>
                    </div>
                    <div class="mb-3">
                        <label for="add-contact_name" class="form-label">Contact Person</label>
                        <input type="text" class="form-control" id="add-contact_name" maxlength="100" placeholder="Enter contact person" required>
                    </div>
                    <div class="mb-3">
                        <label for="add-contact_email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="add-contact_email" placeholder="Enter email" maxlength="100" required>
                    </div>
                    <div class="mb-3">
                        <label for="add-phone_number" class="form-label">Phone number</label>
                        <input type="text" class="form-control" id="add-phone_number" maxlength="15" placeholder="Enter phone number (+99009999999)">
                    </div>
                    <div class="mb-3">
                        <label for="add-address" class="form-label">Address of Supplier</label>
                        <input type="text" class="form-control" id="add-address" maxlength="200" placeholder="Enter address of supplier">
                    </div>
                    <div class="mb-3">
                        <label for="add-country" class="form-label">Country</label>
                        <input type="text" class="form-control" id="add-country" maxlength="50" placeholder="Enter country of supplier">
                    </div>
                    <div class="mb-3">
                        <label for="add-city" class="form-label">City</label>
                        <input type="text" class="form-control" id="add-city" placeholder="Enter city of supplier">
                    </div>
                    <div class="mb-3">
                        <label for="add-website" class="form-label">Website</label>
                        <input type="text" class="form-control" id="add-website" placeholder="Enter website">
                    </div>
                    <button type="submit" class="btn btn-primary">Create Supplier</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editSupplierModal" tabindex="-1" aria-labelledby="editSupplierModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSupplierModalLabel">Edit Supplier</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit-supplier-form">
                    <input type="hidden" id="edit-supplier-id">
                    <div class="mb-3">
                        <label for="edit-name" class="form-label">Name of Supplier</label>
                        <input type="text" class="form-control" id="edit-name" required minlength="3" maxlength="100" placeholder="Enter supplier name">
                    </div>
                    <div class="mb-3">
                        <label for="edit-contact_name" class="form-label">Contact Person</label>
                        <input type="text" class="form-control" id="edit-contact_name" maxlength="100" placeholder="Enter contact person" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit-contact_email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="edit-contact_email" maxlength="100" placeholder="Enter email" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit-phone_number" class="form-label">Phone number</label>
                        <input type="text" class="form-control" id="edit-phone_number" maxlength="15" placeholder="Enter phone number (+99009999999)">
                    </div>
                    <div class="mb-3">
                        <label for="edit-address" class="form-label">Address of Supplier</label>
                        <input type="text" class="form-control" id="edit-address" maxlength="200" placeholder="Enter address of supplier">
                    </div>
                    <div class="mb-3">
                        <label for="edit-country" class="form-label">Country</label>
                        <input type="text" class="form-control" id="edit-country" maxlength="50" placeholder="Enter country of supplier">
                    </div>
                    <div class="mb-3">
                        <label for="edit-city" class="form-label">City</label>
                        <input type="text" class="form-control" id="edit-city" placeholder="Enter city of supplier">
                    </div>
                    <div class="mb-3">
                        <label for="edit-website" class="form-label">Website</label>
                        <input type="text" class="form-control" id="edit-website" placeholder="Enter website">
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Таблица поставщиков -->
<div class="card shadow-sm">
    <div class="card-body">
        <h5 class="card-title mb-3">List of Suppliers</h5>
        <table class="table align-middle" id="suppliers-table">
            <thead class="table-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Contqct person</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Address</th>
                    <th scope="col">Country</th>
                    <th scope="col">City</th>
                    <th scope="col">Website</th>
                    <th scope="col class="text-center"">Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script src="/static/js/suppliers.js"></script>
{% endblock %}