<!-- user_list.html -->
{% extends "layout.html" %}

{% block title %}List of users{% endblock %}

{% block content %}
<h2>List of users</h2>


<div class="mb-3">
    <input type="text" id="search" class="form-control" placeholder="Search by name or email">
</div>

<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="userTableBody">

    </tbody>
</table>
<div class="d-flex justify-content-between">
    <nav aria-label="Pagination">
        <ul class="pagination" id="paginationContainer">

        </ul>
    </nav>
</div>

<script src="/static/js/userlist.js"></script>
{% endblock %}