{% extends "layout.html" %}

{% block title %}List of users{% endblock %}

{% block content %}
<h2>List of users</h2>
<div class="input-group mb-3">
    <input type="text" class="form-control" id="search" placeholder="Search by name or email">
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="userTableBody">

    </tbody>
</table>
<nav aria-label="Page navigation">
    <ul class="pagination">
    </ul>
</nav>
{% endblock %}