{% extends "layout.html" %}

{% block title %}Warehouse management{% endblock %}

{% block content %}
<h2 class="text-center my-4">Warehouse management</h2>

<div class="text-end mb-3">
    <button id="add-new-warehouse-btn" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addWarehouseModal">
        Add New Warehouse
    </button>
</div>

<div class="modal fade" id="addWarehouseModal" tabindex="-1" aria-labelledby="addWarehouseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addWarehouseModalLabel">Create New Warehouse</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add-warehouse-form">
                    <div class="mb-3">
                        <label for="add-location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="add-location" placeholder="Enter Location" required>
                    </div>
                    <div class="mb-3">
                        <label for="add-manager-name" class="form-label">Name of Manager</label>
                        <input type="text" class="form-control" id="add-manager-name" placeholder="ВEnter Name of Manager">
                    </div>
                    <div class="mb-3">
                        <label for="add-capacity" class="form-label">Capacity (cubic meters)</label>
                        <input type="number" class="form-control" id="add-capacity" placeholder="Enter Capacity" required>
                    </div>
                    <div class="mb-3">
                        <label for="add-current-stock" class="form-label">Count of Goods</label>
                        <input type="number" class="form-control" id="add-current-stock" value="0" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="add-contact-number" class="form-label">Contact Phone</label>
                        <input type="text" class="form-control" id="add-contact-number" placeholder="Enter Phone Number (+99009999999)">
                    </div>
                    <div class="mb-3">
                        <label for="add-email" class="form-label">Contact Email</label>
                        <input type="email" class="form-control" id="add-email" placeholder="Enter Email">
                    </div>
                    <div class="mb-3">
                        <label for="add-is-active" class="form-label">Active</label>
                        <select class="form-control" id="add-is-active" required>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="add-area-size" class="form-label">Area size</label>
                        <input type="number" class="form-control" id="add-area-size" placeholder="Enter Area Size">
                    </div>
                    <button type="submit" class="btn btn-primary">Create Warehouse</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editWarehouseModal" tabindex="-1" aria-labelledby="editWarehouseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editWarehouseModalLabel">Edit Warehouse</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit-warehouse-form">
                    <input type="hidden" id="edit-warehouse-id">
                    <div class="mb-3">
                        <label for="edit-location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="edit-location" placeholder="Enter Location" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit-manager-name" class="form-label">Name of Manager</label>
                        <input type="text" class="form-control" id="edit-manager-name" placeholder="Enter Name of Manager">
                    </div>
                    <div class="mb-3">
                        <label for="edit-capacity" class="form-label">Capacity (cubic meters)</label>
                        <input type="number" class="form-control" id="edit-capacity" placeholder="Enter Capacity">
                    </div>
                    <div class="mb-3">
                        <label for="edit-current-stock" class="form-label">Count of Goods</label>
                        <input type="number" class="form-control" id="edit-current-stock">
                    </div>
                    <div class="mb-3">
                        <label for="edit-contact-number" class="form-label">Contact Phone</label>
                        <input type="text" class="form-control" id="edit-contact-number" placeholder="Enter Phone Number (+99009999999)">
                    </div>
                    <div class="mb-3">
                        <label for="edit-email" class="form-label">Contact Email</label>
                        <input type="email" class="form-control" id="edit-email"  placeholder="Enter Email">
                    </div>
                    <div class="mb-3">
                        <label for="edit-is-active" class="form-label">Active</label>
                        <select class="form-control" id="edit-is-active" required>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="edit-area-size" class="form-label">Area size</label>
                        <input type="number" class="form-control" id="edit-area-size">
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewWarehouseModal" tabindex="-1" aria-labelledby="viewWarehouseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewWarehouseModalLabel">View Warehouse</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="view-warehouse-form">
                    <input type="hidden" id="view-warehouse-id">
                    <div class="mb-3">
                        <label class="form-label">Location</label>
                        <input type="text" class="form-control" id="view-location" readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Name of Manager</label>
                        <input type="text" class="form-control" id="view-manager-name" readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Capacity (cubic meters)</label>
                        <input type="number" class="form-control" id="view-capacity" readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Count of Goods</label>
                        <input type="number" class="form-control" id="view-current-stock" readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contact Phone</label>
                        <input type="text" class="form-control" id="view-contact-number" readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contact Email</label>
                        <input type="email" class="form-control" id="view-email" readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Active</label>
                        <input type="text" class="form-control" id="view-is-active" readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Area size</label>
                        <input type="number" class="form-control" id="view-area-size" readonly>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="viewWarehouseProducts()">Information about products</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-body">
        <h5 class="card-title mb-3">List of Warehouses</h5>
        <table class="table align-middle" id="warehouses-table">
            <thead  class="table-light">
                <tr>
                    <th scope="col">Location</th>
                    <th scope="col">Name of Manager</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Count of Goods</th>
                    <th scope="col">Active</th>
                    <th scope="col">Area size</th>
                    <th scope="col class="text-center"">Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script src="/static/js/warehouses.js"></script>
{% endblock %}