<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Authentication</title>
    <style>
        .full-height {
            min-height: 100vh;
        }
    </style>
    <script src="/static/js/form_login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container full-height d-flex justify-content-center align-items-center">
        <div class="col-md-4">
            <h2 class="text-center mb-4">Login to Your Account</h2>
            <form id="loginForm" class="mt-3">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" required>
                    <div class="invalid-feedback" id="emailError">Email is not valid.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password </label>
                    <input type="password" class="form-control" id="password" placeholder="Пароль" required>
                    <div class="invalid-feedback" id="passwordError">Password is not valid.</div>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">Remember Me</label>
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
            <div class="mt-3 text-center" id="errorMessage" style="display:none; color:red;">
                Email or password is incorrect.
            </div>
            <div class="text-center mt-3">
                <p>Don't have an account? <a href="/register">Register here</a></p>'
            </div>
        </div>
    </div>
</body>
</html>